.main-section {
}

.main-section__container {
  max-width: 1280px;
  margin: 0 auto;
	padding: 103px 70px;
	box-sizing: border-box;
}
@media (max-width: 999px) {
	.main-section__container  {
    padding: 87px 50px;
  }
}
@media (max-width: 669px) {
	.main-section__container  {
    padding: 68px 18px;
  }
}

.main-section__container_type_techs {
  background-color: #f5f5f5;
}
@media (max-width: 669px) {
	.main-section__container_type_techs {
    background-color: #fafafa;
  }
}

.main-section__container_type_about-me {
	padding: 103px 70px 106px;
}
@media (max-width: 999px) {
  .main-section__container_type_about-me {
    padding: 74px 50px;
  }
}
@media (max-width: 669px) {
  .main-section__container_type_about-me {
    padding: 68px 14px 50px;
  }
}

.main-section__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-section__title {
  margin: 0;
  padding-bottom: 23px;
  color: #000;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: -0.88px;
}
@media (max-width: 669px) {
  .main-section__title {
    padding-bottom: 28px;
    font-size: 18px;
    letter-spacing: -0.72px;
  }
}

.main-section__title-separator {
  height: 1px;
  background-color: #000;
  margin-bottom: 90px;
}
@media (max-width: 999px) {
  .main-section__title-separator {
    margin-bottom: 80px;
  }
}
@media (max-width: 669px) {
  .main-section__title-separator {
    margin-bottom: 60px;
  }
}

.main-section__title-separator_type_about-project {
  margin-bottom: 72px;
}
@media (max-width: 669px) {
  .main-section__title-separator_type_about-project {
    margin-bottom: 62px;
  }
}

.main-section__title-separator_type_about-me {
  margin-bottom: 68px;
}
@media (max-width: 669px) {
  .main-section__title-separator_type_about-me {
    margin-bottom: 61px;
  }
}
