.movies-card-list {
  padding: 0 0 80px;
  display: grid;
  grid-template-columns: repeat(4, minmax(270px, 270px));
  column-gap: 20px;
  row-gap: 32px;
  justify-content: center;
  justify-items: center;
}
@media (max-width: 1279px) {
  .movies-card-list {
    grid-template-columns: repeat(3, minmax(270px, 270px));
    column-gap: 30px;
    row-gap: 36px;
  }
}
@media (max-width: 999px) {
  .movies-card-list {
    padding: 0 0 30px;
    grid-template-columns: repeat(2, minmax(339px, 339px));
  }
}
@media (max-width: 765px) {
  .movies-card-list {
    padding: 0 0 30px;
    grid-template-columns: repeat(1, minmax(300px, 300px));
    row-gap: 20px;
  }
}
