.header__menu-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 999px) {
  .header__menu-container {
    display: none;
  }
}

.header__menu-container_unwrapped {
}
@media (max-width: 999px) {
  .header__menu-container_unwrapped {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    max-width: 520px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    animation: unwrapped 0.1s ease;
    z-index: 9;
  }
}
@keyframes unwrapped {
  0% {
    transform: translate(520px);
  }
  100% {
    transform: translate(0);
  }
}

.header__overlay {
}
@media (max-width: 999px) {
  .header__overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.3;
    animation: blackout 0.1s;
    z-index: 1;
  }
}
@keyframes blackout {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.3;
  }
}
