.main__section-title {
  margin: 0;
  padding-bottom: 23px;
  color: #000;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: -0.88px;
}
@media (max-width: 669px) {
  .main__section-title {
    padding-bottom: 28px;
    font-size: 18px;
    letter-spacing: -0.72px;
  }
}

.main__section-title-separator {
  height: 1px;
  background-color: #000;
  margin-bottom: 90px;
}
@media (max-width: 669px) {
  .main__section-title-separator {
    margin-bottom: 60px;
  }
}
