.promo {
  margin-top: -74px;
  padding-top: 258px;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 224px;
  background-color: #dddee3;
  background-image: url("../../images/logo-promo.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 320px;
  z-index: -1;
}
@media (max-width: 999px) {
  .promo {
    padding-top: 400px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 342px;
  }
}
@media (max-width: 669px) {
  .promo {
    padding-top: 281px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 264px;
    background-size: 246px;
  }
}

.promo__heading {
  margin: 0;
  color: #000;
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -2px;
  text-align: center;
}
@media (max-width: 669px) {
  .promo__heading {
    font-size: 31px;
    line-height: 39px;
    letter-spacing: -1.24px;
  }
}
