.register__input-label {
  margin-bottom: 5px;
  color: #a0a0a0;
  font-size: 10px;
  font-weight: 400;
}
.register__input {
  margin-bottom: 24px;
  width: 100%;
  padding-bottom: 10px;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #e8e8e8;
  color: #000;
  font-size: 14px;
  font-weight: 400;
  background-color: transparent;
}
.register__input:focus {
  outline: none;
  border-color: #3456f3;
}
.register__input:last-of-type {
  margin-bottom: 6px;
}
.register__input_value_name {
}
.register__input_value_email {
}

.register__input_value_password {
}
.register__input_error {
  color: #ee3465;
}
.register__error {
  color: #ee3465;
  color: #ee3465;
  font-size: 10px;
  font-weight: 400;
}
